/* Make sure the body and html elements take up the full viewport height */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent any scrollbars if content overflows */
    background-color: #2e8b57; /* Poker table green background */
}

/* Ensure the App class takes the full viewport height */
.App {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    position: relative; /* Ensure child elements are positioned relative to this container */
}

/* Title styling */
.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6rem;
    color: goldenrod;
    font-weight: bold;
    text-align: center;
    margin: 0;
    border: 0;
}

.game-board {
    position: absolute; /* Position relative to the App container */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* Translate 50% of the container's width and height away from the center */
    width: 62%; /* Set the width to 50% of the App container's width */
    height: 52%; /* Set the height to 50% of the App container's height */
    background-image: url('./assets/table.jpg');
    background-size: cover;
    border-radius: 10px; /* Round the corners */
    padding: 20px; /* Add some padding around the content */
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

/* Styling for hands or other centered content */
.hands {
    display: flex;
    flex-direction: row; /* Stack children horizontally */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: 100%; /* Take up remaining height in App */
    width: 100%;  /* Full width */
}
